<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px","margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:pattern {"slug":"donnapeplinskie/hero"} /-->
	<!-- wp:pattern {"slug":"donnapeplinskie/about"} /-->
	<!-- wp:pattern {"slug":"donnapeplinskie/skills"} /-->
	<!-- wp:pattern {"slug":"donnapeplinskie/experience"} /-->
	<!-- wp:pattern {"slug":"donnapeplinskie/projects"} /-->
	<!-- wp:pattern {"slug":"donnapeplinskie/blog"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
